.card__button {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--card-footer);
  background-image: url(../../../images/photo/like.svg);
  min-width: 22px;
  height: 19px;
  transition: opacity .8s ease 0s;
}

.card__button:hover {
  opacity: 0.4;
  cursor: pointer;
}