.popup__input {
  font-size: 14px;
  line-height: 1.2;
  padding: 3px 0 8px 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--popup-border);
}

@media screen and (min-width: 598px) {
  .popup__input {
    padding: 11px 0 10px 0;
  }
}